body {
  background-color: oldlace;
}

h1 {
  font-family: Georgia;
  color: black;
}

p {
  font-size: 1em;
  color: darkslategrey;
  font-family: Helvetica;
}

a {
  color: darkslategrey;
}

a:hover {
  color: black;
}