body {
  background-image: url("dogfield.jpg");
}

h1 {
  font-family: Georgia;
  color: white;
}

p {
  font-size: 1em;
  color: white;
  font-family: Helvetica;
  align: center;
}

a {
  font-size: 1em;
  color: white;
}

a:hover {
  color: lightslategrey;
}

div {
  padding: 0.5%;
  padding-right: 10%;
  display:inline-block;
  background: rgba(246, 243, 243, 0.5);
}