<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Animal Shelter Database</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/pets">All Pets</a>
  </nav>
  <%= yield %>
</body>
</html>