<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Animal Shelter Database</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pets">All Pets</a></li>
  </nav>
  <%= yield %>
</body>
</html>